/* contact */
.contact { 
  position: relative;
  &__form {
    width: calc(50% - 30px);
    margin-right: 30px;
    padding: 86px 0;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 24px;
    color: $primary_color;
  }
  &__input {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $primary_color;
    input {
      width: 100%;
      height: 60px;
      border: none;
      outline: none;
      background-color: #fff;
      color: $primary_color;
      &::placeholder {
        color: $primary_color;
      }
      &:-webkit-autofill {
        -webkit-text-fill-color: $primary_color !important;
      }
    }
  }
  &__select {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $primary_color;
    select {
      width: 100%;
      height: 60px;
      border: none;
      outline: none;
      background-color: #fff;
      color: $primary_color;
      &:invalid {
        color: $primary_color;
      }
    }
  }
  &__btn {
    margin-top: 56px;
    margin-bottom: 24px;
  }
  &__annotation {
    font-size: 12px;
    line-height: 22px;
  }
  &__img {
    width: calc(50% - 30px);
    margin-left: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__title {
      font-size: 44px;
      line-height: 52px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__title {
      font-size: 36px;
      line-height: 44px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      font-size: 26px;
      line-height: 34px;
    }
  }
  @include media-breakpoint-down(md) {
    &__form {
      width: 100%;
      padding: 0;
      margin-right: 0;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__img {
      display: none;
    }
  }
}
/* /contact */