/* settings */
a {
  transition: .1s;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $text_color;

  // @include media-breakpoint-down(md) {
  //   font-size: 16px;
  //   line-height: 26px;
  // }
}

body {
  min-width: 319px;
  background-color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $text_color;

  &.lock {
    overflow: hidden;
  }

  // @include media-breakpoint-down(md) {
  //   font-size: 16px;
  //   line-height: 26px;
  // }
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding-top: 160px;
  @include media-breakpoint-down(xxl) {
    padding-top: 152px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 81px;
  }
}

.navpage {
  padding: 100px 0;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  ul {
    font-size: 18px;

    li {
      margin: 10px 0;
    }
  }
}

.row {
  @include media-breakpoint-down(xl) {
    margin-left: -15px;
    margin-right: -15px;

    >* {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-left: -10px;
    margin-right: -10px;

    >* {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.container {
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* /settings */