/* title */
.title { 
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: $primary_color;
  margin-bottom: 60px;
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }
}
/* /title */